.article-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  width: 100%;
  max-width: 1440px;
}

.info-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;

  .sub_heading {
    font-family: Palanquin;
    font-size: clamp(1.25rem, 2.5vw, 2.5rem);
    font-weight: 600;
    line-height: 120%;
    color: var(--türkis);
  }

  .prolog {
    font-family: Palanquin;
    font-size: clamp(1.13rem, 2.2vw, 2rem);
    font-weight: 400;
    line-height: 120%;
    color: var(--braun);
  }
}

.article_details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;

  .details-text {
    font-family: Palanquin;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: var(--braun);

    display: flex;
    align-items: center;
    gap: 6px;

    white-space: nowrap;

    svg {
      fill: var(--türkis);
    }

    .date_icon {
      width: 16px;
      height: 18px;
    }

    .reading_time_icon {
      width: 20px;
      height: 7px;
    }

    .read_icon {
      width: 20px;
      height: 14px;
    }

    .shared_icon {
      width: 16px;
      height: 18px;
    }
  }
}

.author-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 16px;
  gap: 16px;

  border-radius: 30px;
  background-color: var(--türkisLight);

  img {
    width: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: 75% center;
  }

  .author-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .author-name {
      font-family: Arima;
      font-size: clamp(1rem, 1.2vw, 1.3rem);
      line-height: 120%;
      color: var(--braun);

      .name {
        font-weight: 700;
      }
      .job-title {
        font-weight: 400;
      }
    }

    .author-text {
      font-family: "Palanquin";
      font-size: 1rem;
      line-height: 120%;
      font-weight: 400;
      color: var(--braun);
    }
  }
}
