header {
    background: var(--türkis);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 56px;
        width: 56px;
    }
}

footer {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--türkis);        
    padding: 30px var(--contentbegrenzung_landingpage);

    .copyright_section {
        display: flex;
        flex-direction: column;
        gap: 8px;

        font-family: 'Palanquin';
        font-size: clamp(1rem, 1.2vw, 1.125rem);
        line-height: 120%;
        font-weight: 400;
        color: white;
    }

    .copyright {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .icon_copyright {
        fill: white;
    }

    .social_media_logo {
        display: flex;
        gap: 16px;

        .svg_youtube {
            width: 33px;
            height: 24px;
        }
    }
}

nav {
    z-index: 3;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 48px;
    position: sticky;
    bottom: 0;
    background-color: var(--gelb);
    padding: 24px var(--contentbegrenzung_landingpage);

    .svg_large {
        fill: var(--türkis);
    }
}
