.hero {
    width: 100%;
    height: 515px;
    background: url(../assets/png/header\ photo.png);
    background-position-y: center;
    background-position-x: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow_swirl {
    background-image: url(../assets/png/Vector\ 17.png);
    background-repeat: no-repeat;
    height: 300px;
}

.yellow_swirl img {
    width: 160px;
    height: auto;
    transform: translate(75px, 140px);
}

@media screen and (max-width: 480px) {
    header {
        background: var(--türkis);
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 0px;
        img {
            height: 56px;
            width: 56px;
        }
    }
    footer {
        background: var(--türkis);
        height: 134px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 27px;
        padding: 30px 24px;
        .copywrite_Section {
            font-size: clamp(16px, 5dvw, 18px);
        }
        .copywrite_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            img {
                height: 20px;
                width: 20px;
            }
        }
        .social_media_logo {
            display: flex;
            justify-content: space-between;
            gap: 16px;
            padding-top: 35px;
            img {
                height: 24px;
                width: 24px;
            }
            .youtubeimg {
                height: 24px;
                width: 33px;
            }
        }
    }
    nav {
        position: relative;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-around;
            padding: 24px 25px;
            background-color: var(--gelb);
            position: absolute;
            bottom: 0;
            width: 100%;
            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        background: var(--türkis);
        height: 90px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        img {
            height: 66px;
            width: 66px;
        }
    }
    footer {
        font-family: Palanquin;
        background: var(--türkis);
        height: 134px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 27px;
        padding: 30px 24px;
        .copywrite_Section {
            font-size: clamp(16px, 5dvw, 18px);
           
        }
        .copywrite_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            img {
                height: 20px;
                width: 20px;
            }
        }
        .social_media_logo {
            display: flex;
            justify-content: space-between;
            gap: 16px;
            padding-top: 35px;
            img {
                height: 30px;
                width: 30px;
            }
            .youtubeimg {
                height: 53px;
                width: 35px;
                padding-bottom: 20px;
            }
        }
    }
    nav {
        position: relative;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-around;
            padding: 24px 25px;
            background-color: var(--gelb);
            position: fixed;
            bottom: 0;
            width: 100%;
            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}
@media screen and (min-width: 769px) and (max-width: 1279) {
}
