.hero {
    width: 100%;
    height: 515px;
    background: url(../assets/png/header\ photo.png);
    background-position-y: center;
    background-position-x: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow_swirl {
    width: 220px;
    height: 300px;
    background-color: rgba(241, 201, 83, 1);
    /* background-image: url(../assets/png/Vector\ 17.png);
    background-repeat: no-repeat;
    height: 300px; */
}

.yellow_swirl img {
    width: 160px;
    height: auto;
    transform: translate(75px, 140px);
}

.faq {
    width: 100%;
    max-width: 1440px;
    padding: var(--contentbegrenzung);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;

    .headline {
        display: flex;
        gap: 13px;

        h2 {
            font-size: 2.5rem;
        }

        img {
            width: 40px;
            height: 40px;
        }
    }

    .summaries {
        width: 100%;

        display: flex;
        flex-direction: column;

        gap: 16px;

        details {
            padding: 16px 14px;
            background-color: var(--gelb);
            border-radius: 12px;

            summary {
                list-style-type: none;
                display: flex;
                justify-content: space-between;

                p {
                    font-family: "Palanquin";
                    font-weight: 700;
                    color: var(--braun);
                    font-size: 1rem;
                    line-height: 120%;
                }

                img {
                    height: 24px;
                    width: 24px;
                }
            }

            > p {
                font-family: "Palanquin";
                font-weight: 500;
                color: var(--braun);
                font-size: 1rem;
                line-height: 120%;
                background-color: white;

                margin-top: 14px;
                padding: 7px 14px;
            }
        }

        details:open {
            summary {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
  header {
        background: var(--türkis);
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 0px;
        img {
            height: 56px;
            width: 56px;
        }
    }
    footer {
        background: var(--türkis);
        height: 134px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 27px;
        padding: 25px 24px;
        .paragraph_text{
            color: white;
        }
        .copywrite_Section {
            font-size: clamp(16px, 5dvw, 18px);
        }
        .copywrite_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            img {
                height: 20px;
                width: 20px;
            }
        }
        .social_media_logo {
            display: flex;
            justify-content: space-between;
            gap: 16px;
           padding-top: 55px;
            img {
                height: 24px;
                width: 24px;
            }
            .youtubeimg {
                height: 24px;
                width: 33px;
            }
        }
    }
    nav {
        position: relative;
        height: 10dvh;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-around;
            padding: 24px 25px;
            background-color: var(--gelb);
            position: fixed;
            bottom: 0;
            width: 100%;
            img {
                height: 40px;
                width: 40px;
            }
        }
    }
