.p-top {
  padding: 40px 0px;
}

.protipps_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  background-color: var(--türkis);
  transform: rotate(-13.67deg);
  width: fit-content;
  border-radius: 10px;

  font-family: "Palanquin";
  font-size: 1.75rem;
  line-height: 120%;
  font-weight: 700;
  color: var(--gelb);

  svg {
    height: 42px;
    width: 43px;
  }
}

.protippCard {
  background-color: var(--türkisLight);
  padding: 24px 11.5px;
  border-radius: 30px;

  .article_text {
    margin-left: 15px;
  }

  a {
    color: var(--türkis);
  }
}


