.pro-tipps {
  width: 100%;
  padding-top: 20px;
}

.protipp-heading {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  width: fit-content;

  transform: translateX(clamp(-50px, calc(-4.46vw + 14.29px), 0px));

  background-color: var(--türkis);
  transform: rotate(-13.67deg) translateX(clamp(-50px, calc(-4.46vw + 14.29px), 0px));;
  border-radius: 10px;

  font-family: "Palanquin";
  font-size: 28px;
  line-height: 120%;
  font-weight: 700;
  color: var(--gelb);

  svg {
    height: 42px;
    width: 43px;
  }
}

.protipp-card {
  width: 100%;
  padding: 25px 16px;
  background-color: var(--türkisLight);
  border-radius: 30px;

  .article_text {
  margin-left: clamp(15px, calc(13.571px + 0.446vw), 20px);
  }

  a {
    color: var(--türkis);
  }
}
