.protippCard {
    background-color: var(--türkisLight);
    padding: 24px 16px;
    text-align: left;
    border-radius: 30px;
    line-height: 120%;
}
.usefullink {
    color: var(--türkis);
    font-weight: 700;
}
.protipps {
    font-weight: 700;
    font-style: Bold;
    font-size: 1.75rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--gelb);
    padding: 0px 10px 0px 0px;
}
.protipps_section {
    transform: rotate(-13.67deg);
    justify-content: center;
    align-items: center;
    background-color: var(--türkis);
    width: fit-content;
    border-radius: 10px;
    display: flex;
    img {
        height: 50px;
        width: 50px;
    }
}
.p-top{
    padding-top: 32px;
}
ol {
    text-align: justify;
    padding: 0px 15px;
    color: var(--braundark);
font-weight: 400;

line-height: 120%;
letter-spacing: 0%;

}