@media screen and (min-width: 769px) and (max-width: 1279px) {
    .article_2 {
        .iframe_wrapper {
            width: 600px !important;
            height: 300px !important;
            margin: 20px;
        }
    }
    .article_head {
        .res_article_head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            .info-div {
                width: 65%;
                height: fit-content;
            }
        }
        .article_details {
            padding-top: 20px;
        }
    }
    .author_card {
        width: 35%;
        height: fit-content;
        margin-top: unset;
    }
    .p-top {
        padding: 88px 33px;
    }
    .protippCard {
        padding: 26px 16px 24px 16px;
    }
    .list {
        .article_text li {
            margin-left: 3vw;
        }
    }
    .nav_icon {
        display: none;
    }

    header {
        height: 128px;

        justify-content: flex-start;
        padding: 32px clamp(38px, 11.5dvw, 146px) 24px;
        gap: clamp(50px, 8dvw, 102px);

        .nav_header {
            display: flex;
            gap: clamp(50px, 6dvw, 72px);

            a {
                font-size: clamp(20px, 2dvw, 24px);
                font-family: "Arima";
                font-weight: 700;
                line-height: 80%;
                color: rgba(248, 245, 235, 1);
            }

            a:hover {
                font-weight: bold;
                text-decoration: underline;
                text-decoration: underline;
                text-decoration-color: rgba(241, 201, 83, 1);
                scale: 1.05;
            }
        }
    }

    .article3 {
        .rain-periods {
            padding: 88px 0px;

            h4 {
                padding-bottom: 24px;
            }

            img {
                width: 640px;
                height: 436px;
            }
        }

        .diagrams_bottom {
            display: flex;
            align-items: flex-end;
            gap: 80px;
            width: 100%;

            padding: 88px 40px;

            .beach-activities {
                height: 730px;
                padding: 0;
                gap: 0;
                justify-content: space-between;

                img {
                    width: 519px;
                    height: 471px;
                }
            }

            .expenses {
                height: 730px;
                padding: 0;
                gap: 0;
                justify-content: space-between;

                img {
                    width: 519px;
                    height: 471px;
                }
            }
            .text_expenses {
                display: flex;
                flex-direction: column;

                gap: 24px;
            }
        }
    }

    footer {
        padding: 60px clamp(60px, 8dvw, 100px);

        .footer_content {
            align-items: center;

            .copyright_section {
                flex-direction: row-reverse;
                gap: clamp(42px, 5.5dvw, 70px);

                .copyright_logo {
                    img {
                        height: 24px;
                        width: 24px;
                    }

                    p {
                        font-size: clamp(16px, 4dvw, 18px);
                    }
                }
            }

            .social_media_logo {
                padding-top: 0px;
            }

            .social_media_logo img {
                height: 32px;
                width: auto;
            }
        }
    }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .article_2 {
        max-width: 1440px;
        width: 100%;
        .iframe_wrapper {
            width: 931px !important;
            height: 520px !important;
            margin: 50px;
        }
    }
    .article_head {
        .res_article_head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            max-width: 1440px;
            width: 100%;
            .info-div {
                width: 75%;
                height: fit-content;
            }
        }
        .article_details {
            padding-top: 20px;
        }
    }
    .author_card {
        width: 25%;
        height: fit-content;
        margin-top: unset;
    }
    .p-top {
        padding: 88px 33px 34vh;
        max-width: 1440px;
        width: 100%;
    }
    .protippCard {
        padding: 26px 16px 24px 16px;
    }
    .list {
        .article_text li {
            margin-left: 3vw;
        }
    }
    .nav_icon {
        display: none;
    }
    header {
        height: 128px;

        justify-content: flex-start;
        padding: 32px 0 24px 146px;
        gap: 102px;

        img {
            height: 72px;
            width: 72px;
        }

        .nav_header {
            display: flex;
            gap: 72px;

            a {
                font-size: 24px;
                font-family: "Arima";
                font-weight: 700;
                line-height: 80%;
                color: rgba(248, 245, 235, 1);
            }

            a:hover {
                font-weight: bold;
                text-decoration: underline;
                text-decoration: underline;
                text-decoration-color: rgba(241, 201, 83, 1);
                scale: 1.05;
            }
        }
    }

    .social_media_logo img {
        height: 32px;
        width: auto;
    }

    .article3 {
        .rain-periods {
            padding: 88px 0px;

            h4 {
                padding-bottom: 24px;
            }

            img {
                width: 640px;
                height: 436px;
            }
        }

        .diagrams_bottom {
            display: flex;
            align-items: flex-end;
            gap: 80px;
            width: 100%;

            padding: 88px 40px;

            .beach-activities {
                height: 730px;
                padding: 0;
                gap: 0;
                justify-content: space-between;

                img {
                    width: 519px;
                    height: 471px;
                }
            }

            .expenses {
                height: 730px;
                padding: 0;
                gap: 0;
                justify-content: space-between;

                img {
                    width: 519px;
                    height: 471px;
                }
            }
            .text_expenses {
                display: flex;
                flex-direction: column;

                gap: 24px;
            }
        }
    }

    /* footer {
        padding: 60px 120px;

        .footer_content {
            align-items: center;

            

            .copyright_section {
                flex-direction: row-reverse;
                gap: 70px;

                .copyright_logo {
                    img {
                        height: 24px;
                        width: 24px;
                    }

                    p {
                        font-size: clamp(16px, 4dvw, 18px);
                    }
                }
            }

            .social_media_logo {
                padding-top: 0px;
            }
        }
    } */
}

@media screen and (min-width: 1441px) {
    .nav_icon {
        display: none;
    }

    header {
        padding: 32px max(146px, calc(50% - 720px)) 24px;

        height: 128px;

        justify-content: flex-start;
        gap: 102px;

        img {
            height: 72px;
            width: 72px;
        }

        .nav_header {
            display: flex;
            gap: 72px;

            a {
                font-size: 24px;
                font-family: "Arima";
                font-weight: 700;
                line-height: 80%;
                color: rgba(248, 245, 235, 1);
            }

            a:hover {
                font-weight: bold;
                text-decoration: underline;
                text-decoration: underline;
                text-decoration-color: rgba(241, 201, 83, 1);
                scale: 1.05;
            }
        }
    }

    .article_head {
        .res_article_head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            max-width: 1440px;
            width: 100%;
            .info-div {
                width: 75%;
                height: fit-content;
            }
        }
        .article_details {
            padding-top: 20px;
        }
    }
    .author_card {
        width: 25%;
        height: fit-content;
        margin-top: unset;
    }

    .article3 {
        .rain-periods {
            padding: 88px 0px;

            h4 {
                padding-bottom: 24px;
            }

            img {
                width: 640px;
                height: 436px;
            }
        }

        .diagrams_bottom {
            display: flex;
            align-items: flex-end;
            gap: 80px;
            width: 100%;

            padding: 88px 40px;

            .beach-activities {
                height: 730px;
                padding: 0;
                gap: 0;
                justify-content: space-between;

                img {
                    width: 519px;
                    height: 471px;
                }
            }

            .expenses {
                height: 730px;
                padding: 0;
                gap: 0;
                justify-content: space-between;

                img {
                    width: 519px;
                    height: 471px;
                }
            }
            .text_expenses {
                display: flex;
                flex-direction: column;

                gap: 24px;
            }
        }
    }

    footer {
        padding: 60px max(120px, calc(50% - 720px));

        .footer_content {
            align-items: center;

            /* padding: 30px 20px; */

            .copyright_section {
                flex-direction: row-reverse;
                gap: 70px;

                .copyright_logo {
                    img {
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            .social_media_logo {
                padding-top: 0px;
            }
        }
    }
}
