* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    /* min-height: 100dvh; */
    height: 100%;
   
}

svg {
    fill: var(--gelb);
    flex-shrink: 0;
    display: block;
}

.svg_small {
    width: 20px;
    height: 20px;
}

.svg_medium {
    width: 24px;
    height: 24px;
}

.svg_large {
    width: 40px;
    height: 40px;
}
