* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    /* min-height: 100dvh; */
    height: 100%;
   
}

a {
    cursor: pointer;
    text-decoration: none;
}
