* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--contentbegrenzung-articles);
}

body {
    padding-bottom: 8px; /* damit die Nav-Bar unten den Body-Inhalt nicht verdeckt */
}