:root {
  /* COLORS */
  --braun: rgb(84, 55, 13);
  --gelb: rgb(241, 201, 83);
  --türkis: rgb(78, 164, 135);
  --türkisLight: rgba(78, 164, 135, 0.2);
  --grau: rgb(61, 61, 61);

  /* PADDINGS */
  --contentbegrenzung: 0px max(calc(8.93% - 8.57px), 16px);
}